#homeHeading {
    font-size: 96px;
    color: gold;
}
/*.panel-transparent .panel-heading {
                border-radius: 10px;
}*/
.header-content { 
    background: rgba(0,0,0,0.15)!important;
    
}/*
.header-content-inner panel panel-primary panel-transparent {
    border-radius: 50px;
    background: rgba(0,0,0,0.15)!important;
} */
.panel-transparent {
        background: none;
    }

.panel-transparent .panel-heading {
    background: rgba(122, 130, 136, 0.2)!important;
}
hr {
  border-color: #7D6C5B;
}
.bg-primary {
  background-color: #7D6C5B;
}
.btn-primary {
  color: white;
  background-color: #7D6C5B;
}
.btn-primary {
  color: white;
  background-color: #7D6C5B;
  border-color: #7D6C5B;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgb(125,108,91);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}


    